################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
#######################################################

/PluggedMVC/Core/PluggedMVC.Core.Plugable/bin
/PluggedMVC/Core/PluggedMVC.Core.Plugable/obj
/PluggedMVC/Infrastructure/PluggedMVC.Infrastructure.PluginRegister/bin
/PluggedMVC/Infrastructure/PluggedMVC.Infrastructure.PluginRegister/obj
/PluggedMVC/Solution/packages
/PluggedMVC/WebFrontEnd/PluggedMVC.WebFrontEnd.MasterMVCApp/bin
/PluggedMVC/WebFrontEnd/PluggedMVC.WebFrontEnd.MasterMVCApp/obj
/PluggedMVC/WebFrontEnd/PluggedMVC.WebFrontEnd.MasterMVCApp/plugins
/PluggedMVC/WebPlugins/PluggedMVC.WebPlugins.ClassLibraryTemplate/bin
/PluggedMVC/WebPlugins/PluggedMVC.WebPlugins.ClassLibraryTemplate/obj
/PluggedMVC/WebPlugins/PluggedMVC.WebPlugins.MVCTemplate/bin
/PluggedMVC/WebPlugins/PluggedMVC.WebPlugins.MVCTemplate/obj
/PluggedMVC/Core/PluggedMVC.Core.Data/bin
/PluggedMVC/Core/PluggedMVC.Core.Data/obj
/PluggedMVC/Core/PluggedMVC.Core.Model/bin
/PluggedMVC/Core/PluggedMVC.Core.Model/obj
/PluggedMVC/Core/PluggedMVC.Core.Service/bin
/PluggedMVC/Core/PluggedMVC.Core.Service/obj
/PluggedMVC/Infrastructure/PluggedMVC.Infrastructure.Data/bin
/PluggedMVC/Infrastructure/PluggedMVC.Infrastructure.Data/obj
/PluggedMVC/Infrastructure/PluggedMVC.Infrastructure.Repository/bin
/PluggedMVC/Infrastructure/PluggedMVC.Infrastructure.Repository/obj
/PluggedMVC/Infrastructure/PluggedMVC.Infrastructure.Service/bin
/PluggedMVC/Infrastructure/PluggedMVC.Infrastructure.Service/obj
/PluggedMVC/WebFrontEnd/PluggedMVC.WebFrontEnd.Resolver/bin
/PluggedMVC/WebFrontEnd/PluggedMVC.WebFrontEnd.Resolver/obj
