@model Plugin3.Models.Root3Model

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>This is Root3 View. Welcome!</h1>
    </div>
</body>
</html>
