@model List<PluggedMVC.Core.Model.PersonViewModel>

    <h1>This is Root3 View from MVCTemplate Plugin.</h1>
    <p>Following are list of First Name of Person entity.</p>

    @foreach (var item in Model)
    {
        @Html.DisplayFor(m => item.FirstName)
        <br />
    }

    @*@model List<PluggedMVC.

        <!DOCTYPE html>

        <html>
        <head>
            <meta name="viewport" content="width=device-width" />
            <title>Index</title>
        </head>

        <body>
            <div>
                <h1>This is Root3 View from MVCTemplate Plugin.</h1>
            </div>
        </body>
        </html>*@
