@model PluggedMVC.WebPlugins.ClassLibraryTemplate.Models.RootModel


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>This is Root View from ClassLibraryTemplate Plugin.</h1>
    </div>
</body>
</html>